---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import {GalleryGrid} from "../components/GalleryGrid.tsx";
import Button from "../components/Button.astro";
---
<Layout title="Gallery | Black Cat Tattoo & Piercing Parlour">
    <Navbar/>
    <section class="pt-36 pb-20 px-6 md:px-12 lg:px-20 text-white">
        <h1 class="text-7xl lg:text-9xl font-semibold text-center mb-8">Gallery</h1>
        <GalleryGrid client:only="solid-js" slides={[
            {
                image: "/images/Placeholder.png",
                text: "Example Image 1"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 2"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 3"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 4"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 5"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 6"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 7"
            },
            {
                image: "/images/Placeholder.png",
                text: "Example Image 8"
            }
        ]}/>

        <div class="p-10 items-center justify-center text-center">
            <Button text="Contact Us!" href="/contact-us"/>
        </div>
    </section>
    <Footer/>
</Layout>