---
import {Image} from "astro:assets";
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Button from "../components/Button.astro";
import {getShopImagesAsync} from "../utils/cms.ts";

const shopImages = await getShopImagesAsync();
---
<Layout title="Shop | Black Cat Tattoo & Piercing Parlour">
    <Navbar/>

    <section class="pt-36 pb-20 px-6 md:px-12 lg:px-20 text-white md:max-w-10/12 mx-auto">
        <h1 class="text-7xl lg:text-9xl font-semibold text-center mb-8 text-white">Our Shop</h1>

        <div class="text-center max-w-6xl mx-auto space-y-6 mb-12">
            <p class="text-2xl md:text-3xl text-gray-400 leading-relaxed">
                Our talented international artists bring your vision to life with custom designs in a clean, comfortable
                space. Quality work, friendly atmosphere.
            </p>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {shopImages.map((image) => (
                    <div class="overflow-hidden rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
                        <img
                                src={image.image}
                                alt={image.text}
                                class="w-full h-full object-cover aspect-square hover:scale-105 transition-transform duration-500"
                        />
                    </div>
            ))}
        </div>

        <div class="pt-10 items-center justify-center text-center">
            <Button text="Contact Us!" href="/contact-us"/>
        </div>
    </section>


    <Footer/>
</Layout>