---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';

const artists = [
    {
        name: "Fred Flintstone",
        type: "Tattoo Artist",
        image: "https://review.boldfocus.com/wp-content/plugins/elementor/assets/images/placeholder.png",
    },
    {
        name: "Charlie Barker",
        type: "Tattoo Artist",
        image: "https://review.boldfocus.com/wp-content/plugins/elementor/assets/images/placeholder.png",
    },
    {
        name: "Daisy Winston",
        type: "Piercing Artist",
        image: "https://review.boldfocus.com/wp-content/plugins/elementor/assets/images/placeholder.png",
    },
    {
        name: "Julie Bell",
        type: "Tattoo Artist",
        image: "https://review.boldfocus.com/wp-content/plugins/elementor/assets/images/placeholder.png",
    },
    {
        name: "Jessica Jones",
        type: "Piercing Artist",
        image: "https://review.boldfocus.com/wp-content/plugins/elementor/assets/images/placeholder.png",
    },
];
---
<Layout>
    <Navbar/>

    <section class="pt-24 px-6 pb-20 text-white max-w-6xl mx-auto">
        <h1 class="text-7xl font-semibold text-center mb-12">Team</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
            {artists.map((artist) => (
                    <div class="flex flex-col items-start pb-8 bg-grey rounded-b-md">
                        <img
                                src={artist.image}
                                alt={artist.name}
                                class="w-96 h-96 md:w-56 md:h-56 lg:w-full lg:h-96 rounded-t-md object-cover"
                        />
                        <h2 class="mt-2 text-3xl font-medium p-4">{artist.name}</h2>
                        <h3 class="ml-4 text-md bg-red text-white px-4 py-2 rounded-full">
                            {artist.type}
                        </h3>
                    </div>
            ))}
        </div>
    </section>
</Layout>