---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import CallToAction from "../components/CallToAction.astro";
import ProseContent from "../components/ProseContent.astro";
import Heading from "../components/Heading.astro";

const entry = await getEntry("pages", "about");
const { Content } = await render(entry);
const { title, description, hero } = entry.data;
---

<Layout title={title} description={description}>
    <Navbar />
    <main>
        <section class="relative bg-white py-10">
            <Heading title={hero.heading} subTitle={hero.eyebrow} />
        </section>

        <section class="bg-white pb-10">
            <ProseContent>
                <Content />
            </ProseContent>
        </section>
    </main>
    <CallToAction />
    <Footer />
</Layout>
