---
import '../styles/global.css';
import WW2Map from '../components/WW2Map';
import germanyFlagImg from '../images/Germany.png';
import UnitedKingdomImg from '../images/UnitedKingdom.png';
import SovietUnionImg from '../images/SovietUnion.png';

const flags: Record<string, string> = {
  germany: germanyFlagImg.src,
  uk: UnitedKingdomImg.src,
  ussr: SovietUnionImg.src
}

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>WW2 Interactive Map</title>
  </head>
  <body>
    <WW2Map client:only="react" flags={flags} />
  </body>
</html>
