---
---
<section id="about" class="px-6 py-30 bg-gray-100">
    <div class="max-w-5xl mx-auto space-y-12 text-center">
        <div>
            <h2 class="text-7xl font-extrabold mb-4 text-gray-900">
                About Us
            </h2>
            <p class="text-lg md:text-xl leading-relaxed text-gray-700 max-w-2xl mx-auto">
                RE-ROOF & BUILD SURREY have been established since 1988

                This company has been a family-run business for over 30 years, we have over 15 years of experience in
                roofing works and over 25 years in building works along with plumbing & electrics. We specialize in
                kitchen’s and bathroom fittings also conversion's and open plans. We have a highly experienced number of
                men on the team that take pride in their trades all teams specialize in their own trades.

                We are currently adhering to Government Guidelines on visiting your property. We take pride in being a
                trustworthy and a reliable team and excel in delivering a high-class service –
                our history of happy customers speaks for itself. RE-ROOF SURREY offer a wide variety of services, so we
                welcome both domestic and commercial customers.
            </p>
        </div>
    </div>
</section>
