<section
        class="relative flex flex-col items-center justify-center text-center px-6 min-h-screen pt-10 overflow-hidden bg-gradient-to-b from-gray-900 to-black">
    <div class="relative z-10 flex flex-col items-center text-center bg-black/70 border-2 border-amber-200 rounded-xl p-8 md:p-12 text-white max-w-5xl backdrop-blur-md">
        <h1 class="text-5xl md:text-7xl lg:text-8xl font-extrabold mb-6">
            Re-Roof & Build Surrey
        </h1>
        <p class="text-lg md:text-2xl mb-8 text-amber-200">
            Trusted roofing and building services with over 30 years of experience
        </p>
        <a href="#about"
           class="px-8 py-4 bg-amber-200 hover:bg-amber-200 text-gray-900 font-semibold rounded-md transition">
            View Services
        </a>
    </div>
</section>
