name: websites

services:
  nix:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: nix
    restart: unless-stopped
    tty: true
    stdin_open: true
    working_dir: /flake
    volumes:
      - ./config:/flake:rw,Z
      - $SSH_AUTH_SOCK:/ssh-agent:ro
    environment:
      SSH_AUTH_SOCK: /ssh-agent

  vps-bootstrap:
    image: nixos/nix
    container_name: nixos-fts
    working_dir: /flake
    tty: true
    stdin_open: true
    volumes:
      - ./config:/flake:rw,Z
    environment:
      NIX_CONFIG: "experimental-features = nix-command flakes"
    env_file: ".env"
    command: nix run github:nix-community/nixos-anywhere -- --flake .#vps --generate-hardware-config nixos-generate-config ./modules/hardware.nix root@$TARGET_HOST

  vps-build:
    image: nixos/nix
    container_name: nixos-build
    working_dir: /flake
    tty: true
    stdin_open: true
    volumes:
      - ./config:/flake:rw,Z
      - $SSH_AUTH_SOCK:/ssh-agent:ro
    environment:
      NIX_CONFIG: "experimental-features = nix-command flakes"
      SSH_AUTH_SOCK: /ssh-agent
    env_file: ".env"
    command: >
      bash -c "
        echo 'Building and deploying current server config...';
        nix run nixpkgs#nixos-rebuild -- dry-activate --flake .#vps --target-host ssh://$USER@$TARGET_HOST:$PORT --verbose --use-remote-sudo"