---
import '../styles/global.css'
---
<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <title>Re-Roof and Build Surrey</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <meta name="description"
          content="Re-roof and build Surrey is a full service re-roofing and building company based in Surrey, England."/>
        <meta property="og:title" content="Re-roof and Build Surrey"/>
        <meta property="og:description" content="Roofing and building services in Surrey"/>
        <meta property="og:image" content="https://reroofandbuildsurrey.com/logo.png"/>
        <meta property="og:url" content="https://reroofandbuildsurrey.com/"/>

        <meta name="twitter:title" content="Re-roof and Build Surrey"/>
        <meta name="twitter:description" content="Roofing and building services in Surrey"/>
        <meta name="twitter:url" content="https://reroofandbuildsurrey.com/logo.png"/>
        <meta name="twitter:card" content="summary"/>
    </head>
    <body>
        <slot/>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
