---
import '../styles/global.css';

interface Props {
    title: string;
    description?: string;
}

const {title, description = 'The open source self-hosted internal developer platform.'} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{title} Orchitect</title>
    <meta name="description" content={description}/>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
</head>
<body>
<slot/>
</body>
</html>
