---
import {Image} from "astro:assets";
import backgroundImage from "../assets/images/Background.png";
---

<section
        class="relative flex flex-col items-center justify-center text-center px-6 min-h-screen pt-20 sm:pt-20 overflow-hidden">
    <Image
            src={backgroundImage}
            alt="Background"
            class="absolute inset-0 w-full h-full object-cover blur-sm"
            aria-hidden="true"
    />

    <div class="absolute inset-0 bg-black/40"></div>

    <div class="relative z-10 flex flex-col items-center text-center bg-white border-2 border-black rounded-xl p-6">
        <h1 class="text-6xl sm:text-7xl mb-4 text-black">The Contour Clinic Richmond</h1>
        <p class="text-4xl max-w-3xl mb-6 text-black font-brittany">
            Be Body Confident.
        </p>
    </div>
    <a href="#about" class="mt-8 text-5xl text-black animate-bounce">↓</a>
</section>
