---
export interface Props {
    text: string;
    href: string;
}

const {text, href} = Astro.props;
---
<a
        href={href}
        class="mt-10 inline-block bg-red text-white font-bold px-8 py-4 text-xl md:px-10 md:py-5 md:text-3xl rounded-full shadow-2xl hover:bg-red-950 transition"
>
    {text}
</a>