---
import {Image} from "astro:assets";
import backgroundImage from "../assets/images/Background.jpg";
---
<section
        class="relative flex flex-col items-center justify-center text-center px-6 min-h-screen pt-20 sm:pt-20 overflow-hidden">
    <Image
            src={backgroundImage}
            alt="Background"
            class="absolute inset-0 w-full h-full object-cover"
            aria-hidden="true"
    />
</section>
