---
import {Image} from "astro:assets";
import backgroundImage from "../assets/images/Background.jpg"
import Button from "./Button.astro";
---
<section
        class="relative flex flex-col items-center justify-center text-center px-4 sm:px-6 min-h-screen pt-24 sm:pt-28 md:pt-32 lg:pt-40 overflow-hidden"
>
    <Image
            src={backgroundImage}
            alt="Background"
            class="absolute inset-0 w-full h-full object-cover z-0 blur-xs"
            aria-hidden="true"
    />
    <div class="relative z-10 flex flex-col items-center justify-center space-y-6 sm:space-y-8 lg:space-y-10 pb-10">
        <div class="flex flex-col items-center justify-center space-y-2 sm:space-y-3">
            <h1 class="tattoo-font pr-2 text-[86px] md:pr-0 lg:text-9xl text-white drop-shadow-[0_4px_14px_rgba(0,0,0,2.0)] max-w-full m-0">
                Black Cat
            </h1>
            <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-white drop-shadow-[0_4px_14px_rgba(0,0,0,2.0)] max-w-full">
                Tattoo & Piercing Parlour
            </h2>
        </div>
        <p class="text-lg sm:text-xl md:text-2xl lg:text-3xl lg:max-w-3xl text-white drop-shadow-[0_4px_14px_rgba(0,0,0,2.0)]">
            An easy going, modern studio offering custom designs from international artists and body piercings
        </p>

        <Button text="What We Offer" href="#offer"/>
    </div>
</section>
