---
import {Image} from "astro:assets";
import HeroImage from "../assets/images/hero.jpg"
import Button from "./Button.astro";
---
<section
        class="relative flex flex-col items-center justify-center text-center px-4 sm:px-6 min-h-screen pt-24 sm:pt-20 pb-8 overflow-auto"
>
    <Image
            format="avif"
            src={HeroImage}
            alt="Background"
            class="absolute inset-0 w-full h-full object-cover z-0 blur-xs"
            aria-hidden="true"
    />
    <div class="relative z-10 flex flex-col items-center justify-center space-y-4 max-[767px]:landscape:space-y-2 sm:space-y-6 md:space-y-8 max-w-7xl w-full px-4 py-4">
        <div class="flex flex-col items-center justify-center space-y-1 max-[767px]:landscape:space-y-0 sm:space-y-2">
            <h1 class="tattoo-font text-[4.75rem] max-[767px]:landscape:text-[3rem] sm:text-[6rem] md:text-[8rem] lg:text-[10rem] xl:text-[12rem] text-white drop-shadow-[0_4px_14px_rgba(255,0,0,2.0)] m-0 leading-none">
                Black Cat
            </h1>
            <h2 class="text-3xl max-[767px]:landscape:text-xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-white drop-shadow-[0_4px_14px_rgba(0,0,0,2.0)] max-w-full">
                Tattoo & Piercing Parlour
            </h2>
        </div>
        <p class="text-lg max-[767px]:landscape:text-sm sm:text-lg md:text-xl lg:text-2xl max-w-2xl lg:max-w-3xl text-white drop-shadow-[0_4px_14px_rgba(0,0,0,2.0)]">
            An easy going, modern tattoo & piercing studio offering custom designs from international artists and body piercings
        </p>

        <div class="flex flex-col sm:flex-row gap-4">
            <Button text="What We Offer" href="#offer"/>
        </div>
    </div>
</section>
