<section
        class="relative flex flex-col items-center justify-center text-center px-6 min-h-screen pt-10 overflow-hidden bg-grey">
    <div class="relative z-10 flex flex-col items-center text-center bg-black/70 border-2 border-red rounded-xl p-8 md:p-12 text-white max-w-5xl backdrop-blur-md">
        <h1 class="text-5xl md:text-7xl lg:text-8xl font-extrabold mb-6">
            Black Cat Tattoo
        </h1>
        <p class="text-lg md:text-2xl mb-8 text-white">
            Tattooing and Piercing Shop located in Hamworth
        </p>
        <a href="/about"
           class="px-8 py-4 bg-red hover:bg-red-950 text-white font-semibold rounded-md transition">
            About Us
        </a>
    </div>
</section>
