---
import {Image} from "astro:assets";
import backgroundImage from "../assets/images/Background.jpg";
---
<section
        class="relative flex flex-col items-center justify-center text-center px-6 min-h-screen pt-20 sm:pt-20 overflow-hidden"
>
    <Image
            src={backgroundImage}
            alt="Background"
            class="absolute inset-0 w-full h-full object-cover z-0 blur-xs"
            aria-hidden="true"
    />

    <div class="relative z-10 flex flex-col items-center justify-center space-y-4">
        <h1 class="text-8xl lg:text-9xl font-extrabold text-white drop-shadow-[0_2px_10px_rgba(0,0,0,0.7)]">
            Black Cat
        </h1>
        <p class="text-4xl lg:text-4xl text-white drop-shadow-[0_1px_6px_rgba(0,0,0,0.7)]">
            Tattoo & Piercing Parlour
        </p>

        <a
                href="#offer"
                class="mt-6 inline-block bg-red text-white font-semibold px-6 py-3 rounded-full shadow-lg hover:bg-red-950 transition"
        >
            View Our Work
        </a>
    </div>
</section>
