---
import {Image} from 'astro:assets';
import Button from './Button.astro';

type TattooStyle = {
    name: string,
    img: string,
    link: string
}

const tattooStyles = [
];
---
<section id="styles" class="bg-dark-grey text-white py-24 px-6">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-7xl font-semibold mb-16">Our Styles</h2>

        <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 sm:gap-10">
            {tattooStyles.map((style) => (
                    <div class="bg-neutral-800 rounded-xl overflow-hidden duration-300">
                        <a href={"/gallery?style=" + style.link}>
                            <Image
                                    format="avif"
                                    src={style.img}
                                    alt={style.name}
                                    class="w-full h-64 object-cover transition-transform duration-300 transform hover:scale-105"
                            />
                            <div class="p-4">
                                <span class="text-2xl">{style.name}</span>
                            </div>
                        </a>
                    </div>
            ))}
        </div>
    </div>

    <div class="pt-10 items-center justify-center text-center">
        <Button text="Contact Us!" href="/contact-us"/>
    </div>
</section>
