---
import {Image} from 'astro:assets';

// Replace these imports with your actual image files
import SleevesImg from '../assets/images/gallery/sleeve/90ac9e8d-b173-47c0-a095-c66384a5d865.jpg';
import FlashImg from '../assets/images/styles/flash.jpg';
import AmericanTraditionalImg from '../assets/images/styles/american-traditional.jpg';
import RealismImg from '../assets/images/gallery/realism/5d7a7771-b063-4a56-b760-64965020fdf6.jpg';
import PortraitsImg from '../assets/images/gallery/portrait/8dd90987-9b4a-4ab2-b851-31504a281795.jpg';
import CoverupsImg from '../assets/images/gallery/coverup/7f58d5d6-9888-4609-9eb8-0ec75aabd432.jpg';
import ChicanoImg from '../assets/images/styles/chicano.jpg';
import MondalaImg from '../assets/images/styles/mondala.jpg';
import LetteringImg from '../assets/images/gallery/lettering/d85f1d65-a5fa-42b8-8495-128a05afece8.jpg';
import FineLineImg from '../assets/images/gallery/fine-line/7fe7d7f4-6b41-464b-b6ea-b5787e3aea81.jpg';
import NeoTradImg from '../assets/images/gallery/neo-traditional/7b05bb6a-e9d6-4c10-aa7d-d759abdaebbd.jpg';
import JapaneseImg from '../assets/images/gallery/japanese/a580caa2-eb47-4122-8227-67b2ebb5c082.jpg';
import TribalImg from '../assets/images/gallery/tribal/98a25456-84fb-49a3-9100-87b53ae29358.jpg';
import DotWorkImg from '../assets/images/styles/dot-work.jpg';
import GeometricImg from '../assets/images/gallery/geometric/4c97350f-7023-44fd-ac96-b79764f2eb97.jpg';
import Button from "./Button.astro";

const tattooStyles = [
    {name: "Sleeves", img: SleevesImg, link: "Sleeve"},
    {name: "Flash Tattoos", img: FlashImg, link: "Flash"},
    {name: "American Traditional", img: AmericanTraditionalImg, link: "Traditional"},
    {name: "Realism - Colour, Black & Grey", img: RealismImg, link: "Realism"},
    {name: "Portraits", img: PortraitsImg, link: "Portrait"},
    {name: "Coverups", img: CoverupsImg, link: "Coverup"},
    {name: "Chicano", img: ChicanoImg, link: "Chicano"},
    {name: "Mondala", img: MondalaImg, link: "Mondala"},
    {name: "Lettering", img: LetteringImg, link: "Lettering"},
    {name: "Fine Line", img: FineLineImg, link: "Fine Line"},
    {name: "Neo Trad", img: NeoTradImg, link: "NeoTraditional"},
    {name: "Japanese", img: JapaneseImg, link: "Japanese"},
    {name: "Tribal", img: TribalImg, link: "Tribal"},
    {name: "Dot Work", img: DotWorkImg, link: "DotWork"},
    {name: "Geometric", img: GeometricImg, link: "Geometric"},
];
---
<section id="styles" class="bg-dark-grey text-white py-24 px-6">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-7xl font-semibold mb-16">Our Styles</h2>

        <div class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 sm:gap-10">
            {tattooStyles.map((style) => (
                    <div class="bg-neutral-800 rounded-xl overflow-hidden duration-300">
                        <a href={"/gallery?style=" + style.link}>
                            <Image
                                    src={style.img}
                                    alt={style.name}
                                    class="w-full h-64 object-cover transition-transform duration-300 transform hover:scale-105"
                            />
                            <div class="p-4">
                                <span class="text-2xl">{style.name}</span>
                            </div>
                        </a>
                    </div>
            ))}
        </div>
    </div>

    <div class="pt-10 items-center justify-center text-center">
        <Button text="Contact Us!" href="/contact-us"/>
    </div>
</section>
