---
import Button from './Button.astro';
import StylesGallery from "./StylesGallery.astro";
---
<section id="styles" class="bg-dark-grey text-white py-24 px-6">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-7xl lg:text-9xl font-semibold mb-16">Our Styles</h2>
        <StylesGallery/>
    </div>

    <div class="pt-10 items-center justify-center text-center">
        <Button text="Contact Us!" href="/contact-us"/>
    </div>
</section>
