name: Build Server

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-server:
    name: Build Server
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/determinate-nix-action@v3

      - run: nix flake check
        name: Check Flake
        working-directory: ./server/config

      - run: nix build .#nixosConfigurations.vps.config.system.build.toplevel
        name: Build Server
        working-directory: ./server/config

      - run: nix-env -i vulnix && vulnix ./result
        name: Vulnix Check
        working-directory: ./server/config