name: Build & Deploy The Contour Clinic Richmond Website
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'web/sites/thecontourclinicrichmond.co.uk/**'
      - 'web/package.json'
      - 'web/pnpm-lock.yaml'
      - 'web/pnpm-workspace.yaml'
      - 'web/libs/**'
      - '.github/workflows/web-thecontourclinicrichmond.yml'
      - '.github/workflows/site-template.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  thecontourclinicrichmond:
    name: "Build & Deploy The Contour Clinic Richmond"
    uses: ./.github/workflows/site-template.yml
    with:
      site: thecontourclinicrichmond.co.uk
    secrets:
      server_host: ${{ secrets.VPS_HOST }}
      server_ssh_port: ${{ secrets.VPS_PORT }}
      server_key: ${{ secrets.VPS_CI_KEY }}
      server_key_password: ${{ secrets.VPS_CI_KEY_PASSWORD }}