name: Build Web
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-web:
    runs-on: ubuntu-latest
    name: Build Web
    env:
      DIRECTUS_URL: ${{ secrets.DIRECTUS_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        working-directory: web
        run: pnpm install

      - name: Check code formatting
        working-directory: web
        run: pnpm run format:check

      - name: Run ESLint
        working-directory: web
        run: pnpm run lint

      - name: Build project
        working-directory: web
        run: pnpm build

      - name: Audit Packages
        working-directory: web
        run: pnpm audit --audit-level moderate --ignore-unfixable