name: Build & Deploy Sites
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'web/**'
      - '.github/workflows/web-*'
      - 'site-template.yml'

jobs:
  jamesdurban:
    name: "Build & Deploy James Durban Portfolio"
    uses: site-template.yml
    with:
      site: jamesdurban.com
    secrets:
      server_host: ${{ secrets.VPS_HOST }}
      server_ssh_port: ${{ secrets.VPS_PORT }}
      server_key: ${{ secrets.VPS_CI_KEY }}
      server_key_password: ${{ secrets.VPS_CI_KEY_PASSWORD }}